#formulario > input {
    width: 100%;
    margin-top: 20px;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.212);
    border: 1px solid rgba(0, 0, 0, 0.22);
}

#formulario > .btn-area {
    margin-top: 20px;
    text-align: center;
}

#formulario > .btn-area > button {
    padding: 10px 15px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#formulario > .btn-area > button[type="submit"] {
    color: #fff;
    background-color: #3377BB;

    &:hover {
        background-color: #3e8edf;
    }
}

.div-resultado {
    margin-top: 20px;
}

.div-resultado label {
    display: inline-block;
    margin-bottom: 10px;
}

.div-resultado output{
    display: inline-block;
    min-height: 40px;
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    background-color: #fff;
}




