#formImc label,
#formImc input,
#formImc button {
    display: block;
}

#formImc input, 
#formImc button {
    font: inherit;
    border: none;
    border-radius: 4px;
}

#formImc input {
    width: 100%;
    height: 2.5rem;
    padding-inline: 10px;
    border: 0.0625rem solid #cfdeea;
    background-color: #fff;
}

#formImc input[type='number']:focus,
#formImc input[type='number']:hover {
    border: 0.0625rem solid #1D89A0;
}

.field {
    margin-bottom: 10px;
}

.field label,
.field legend {
    line-height: 1.5rem;
}

.field-sexo {
    border: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.field-sexo label {
    flex-grow: 1;
    flex-basis: 200px;
    text-align: center;
    padding: 20px;
    background: #DDEBFF;
    border: 1px solid #cfdeea;
    cursor: pointer;
    border-radius: 4px;
    color: #272727;
}

#formImc .field-sexo input[name="sexo"] {
    display: none;
}

#formImc .field-sexo input[value="F"]:checked ~ label[for='F']{
    border-color: #F3C1D3;
    background-color: #F3C1D3;
    color: 	#9D3D5C;
}

#formImc .field-sexo input[value="M"]:checked ~ label[for='M']{
    border-color: #B8E3EC;
    background-color: #B8E3EC;
    color: 	#155E75;
}

#formImc .btn-area {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 15px;
}

#formImc .btn-area button {
    padding: 8px 24px;
    cursor: pointer;
}

#formImc .btn-area button[type='submit'] {
    color: #fff;
    background-color: var(--btn-color-primary);
}

#formImc .btn-area button[type='reset'] {
    color: #fff;
    background-color: var(--btn-color-secundary);
}

div#resultado {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

.classificacaoIMC {
    display: inline-block;
    color: #fff;
    background-color: #000;
    font-size: 17px;
    padding: 4px 12px;
    border-radius: 4px;
    transition: translateY(50px);
}

.abaixo-peso {
    background-color: #DDEBFF;
    color: #174A7C;
}

.peso-normal {
    background-color: #DDF5E3;
    color: #176B36;
}

.sobrepeso {
    background-color: #FFF4CC;
    color: #7A5A00;
}

.obesidade-grau-1 {
    background-color: #FFE0B2;
    color: #8A4B00;
}

.obesidade-grau-2 {
    background-color: #FFC9C9;
    color: #8B1E1E;
}

.obesidade-grau-3 {
    background-color: #FFB3B3;
    color: #6B0000;
}

table {
    margin-top: 40px;
    width: 100%;
    border: 1px solid #cfdeea;
}

table, td, th {
    border-collapse: collapse;
}

td, th {
    padding: 8px;
}

th {
    text-align: left;
    color: #272727;
}


table thead {
    background-color: #F1F7FD;
}

tbody tr:nth-child(even) {
    background-color: #F1F7FD;
}



