@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color0: #C3F3C0;
    --color1: #7EE081;
    --color2: #62A87C;
    --color3: #1B2838;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

main {
    margin-left: 300px;
}